@import '../partials/variable';
@import 'card-workshop';
@import 'card-registration';
@import 'workshop-page';
@import 'tile-search';
@import 'pagination';
@import 'carousel';
@import 'tabs';
@import 'accordion';
@import 'table';
@import 'dropdown-actions';

.interlocuteurs {
  .interlocuteurs-header {
    padding-bottom: 0rem;
  }

  .card-interlocuteurs {
    margin-bottom: 4rem;
  }

  .interlocuteurs-criteria {
    margin-bottom: 4rem;
    padding: 2rem 0 0;
    border-radius: 5px;

    &.interlocuteurs-form {
      padding: 2rem 0;
    }
  }

  .interlocuteurs-profil {
    border-top: 1px solid $bg-separator;

    .one-profil {
      flex: 1 1 0%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:not(:last-child) {
        border-right: 1px solid $bg-separator;
      }
    }

    .profil-title {
      margin-top: 1rem;
    }

    .profil-title-sub {
      margin-bottom: 0.1rem;
      @include font-size-rem(11);

      &:first-child {
        margin-top: 2rem;
      }

      .number-subscriber {
        @include font-size-rem(15);
      }
    }
  }

  .interlocuteurs-onglets {
    @include font-size-rem(12);
    margin-bottom: 0rem;

    li {
      flex: 1 1 auto;
      padding: 1rem;
      border-bottom: 1px solid $bg-separator;

      &.active {
        border: 1px solid $bg-separator;
        border-bottom: 0;
        border-radius: 5px 5px 0 0;
      }
    }
  }

  .bloc-info-profil {
    margin-bottom: 4rem;
  }

  .bloc-info-critere {
    margin-bottom: 0.5rem;
  }
}
