@import 'variable';
@import 'typography';

.ateliers {
  main {
    &.home-ateliers {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      @media (min-width: 768px) {
        flex-direction: row;
      }
    }

    h1 {
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: normal;
      margin-bottom: 50px;

      strong {
        font-size: 20px;
        font-size: 2rem;
        font-weight: bold;
      }
    }

    #volet-workshop,
    #volet-registrations {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-position-x: center;
      @media (min-width: 768px) {
        width: 50%;
      }
    }

    #volet-workshop {
      height: calc(50vh + 30px);
      padding-top: 60px;
      background: linear-gradient(rgba(26, 29, 38, 0.9), rgba(26, 29, 38, 0.9)), url('/assets/images/ateliers/bg-workshop.jpg') no-repeat;
      background-size: cover;
      @media (min-width: 768px) {
        height: 100vh;
        padding-top: 0;
      }
    }

    #volet-registrations {
      height: calc(50vh - 30px);
      background: linear-gradient(rgba(32, 36, 47, 0.95), rgba(26, 29, 38, 0.93)), url('/assets/images/ateliers/bg-registrations.jpg') no-repeat;
      background-size: cover;
      @media (min-width: 768px) {
        height: 100vh;
      }
    }
  }

  &.light-mode {
    #volet-workshop {
      background: linear-gradient(rgba(245, 245, 245, 0.97), rgba(235, 235, 235, 0.97)), url('/assets/images/ateliers/bg-workshop.jpg') no-repeat;
      background-size: cover;
    }

    #volet-registrations {
      background: linear-gradient(rgba(235, 235, 235, 0.95), rgba(235, 235, 235, 0.95)), url('/assets/images/ateliers/bg-registrations.jpg') no-repeat;
      background-size: cover;
    }
  }

  .workshop-list {
    .card-workshop {
      position: relative;
      grid-column: 2;
      border-radius: 5px;
      width: 100%;
      @media (min-width: 768px) {
        width: calc(100% - 60px);
      }

      .card-workshop-container {
        padding: 15px;
        padding-bottom: 80px;
        display: grid;
        grid-gap: 10px;
        @media (min-width: 768px) {
          padding: 25px;
          padding-right: 80px;
          grid-template-columns: 200px 200px 120px 1fr;
          grid-gap: 10px 50px;
        }

        &:hover {
          opacity: 0.5;
          outline: 1px solid white;
          border-radius: 5px;
          cursor: pointer;

          &::after {
            content: "Editer l'atelier";
            opacity: 1;
            color: #fff;
            background: url('/assets/images/ateliers/icon_see.svg') no-repeat;
            background-size: 25px 16px;
            display: block;
            width: 180px;
            height: 50px;
            background-position: 20px 15px;
            background-color: #404a64;
            border-radius: 5px;
            padding: 15px 20px 10px 55px;
            margin: 0 0 0 0px;
          }
        }
      }

      h1 {
        font-size: 24px;
        font-size: 2.4rem;
        font-weight: normal;
        color: $color-text-white;
        margin-bottom: 20px;
        grid-column: 1 / -1;
      }

      .workshop-detail {
        display: flex;
        flex-direction: row;
        align-items: center;

        figure {
          margin-right: 10px;
        }

        p {
          display: flex;
          flex-direction: column;

          strong {
            color: $color-text-white;
            font-weight: bold;

            &.number-person {
              font-size: 20px;
              font-size: 2rem;
            }
          }
        }

        &.workshop-detail-comment {
          flex-direction: column;
          align-items: baseline;

          h2 {
            font-size: 16px;
            font-size: 1.6rem;
            color: $color-text-white;
            margin-bottom: 5px;

            &::before {
              content: '';
              background: url('/assets/images/ateliers/icon_comment.svg');
              background-size: 100%;
              display: inline-block;
              width: 21px;
              height: 20px;
              margin-right: 10px;
            }
          }

          p {
            font-style: italic;
          }
        }

        @media (min-width: 768px) {
          &.workshop-detail-apec-center {
            grid-column: 1;
            grid-row: 2;
          }
          &.workshop-detail-date {
            grid-column: 1;
            grid-row: 3;
          }
          &.workshop-detail-status {
            grid-column: 2;
            grid-row: 2;
          }
          &.workshop-detail-subscription-manager {
            grid-column: 2;
            grid-row: 3;
          }
          &.workshop-detail-apec-website {
            grid-column: 2;
            grid-row: 4;
          }
          &.workshop-detail-number-confirmed {
            grid-column: 3;
            grid-row: 2;
          }
          &.workshop-detail-number-processing {
            grid-column: 3;
            grid-row: 3;
          }
          &.workshop-detail-number-available {
            grid-column: 3;
            grid-row: 4;
          }
          &.workshop-detail-number-available {
            grid-column: 3;
            grid-row: 4;
          }
          &.workshop-detail-comment {
            grid-column: 4;
            grid-row: 2;
          }
        }
      }

      .btn-add-registration {
        position: absolute;
        bottom: -60px;
        right: calc(50% - 60px);
        @media (min-width: 768px) {
          bottom: calc(0% + 60px);
          right: calc(0% - 60px);
        }
      }
    }

    // Fin .card-workshop
  }

  // Fin .workshop-list
}

// Fin .ateliers
