/* =Form
-------------------------------------------------------------- */
@import 'variable';

.custom-radio-button {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.horizontal {
    display: flex;
    margin-left: 12px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: transparent;
      border: 1px solid $color-text-white;
      &::after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: 1px solid $color-text-white;
    border-radius: 50%;
    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 4px;
      left: 4px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: white;
    }
    &.checkmark-error {
      border: 2px solid #ff0000;
    }
  }

  &:hover input ~ .checkmark {
    background-color: transparent;
    border: 2px solid $color-text-white;
    &:after {
      top: 3px;
      left: 3px;
    }
  }
}
