@import 'variable';

.floating-form {
  display: grid;
  grid-gap: 50px;
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.floating-label,
.floating-textarea {
  position: relative;
  margin-bottom: 20px;

  textarea {
    min-height: 64px;
  }

  .floating-input,
  .floating-select,
  textarea {
    font-size: 14px;
    padding: 4px 4px;
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-text;
    color: $color-text-white;
  }

  .floating-input,
  .floating-select {
    height: 30px;
  }

  .floating-input {
    &.floating-input-customer-name {
      background: url('/assets/images/form/icon_customer-name.svg') no-repeat center right;
      background-size: 15px 16px;
    }

    &.floating-input-email {
      background: url('/assets/images/form/icon_email.svg') no-repeat center right;
      background-size: 22px 16px;
    }

    &.floating-input-account-number {
      background: url('/assets/images/form/icon_account-number.svg') no-repeat center right;
      background-size: 16px 16px;
    }

    &.floating-input-company {
      background: url('/assets/images/form/icon_filter-apec-center.svg') no-repeat center right;
      background-size: 16px 16px;
    }

    &.floating-input-registration-manager {
      background: url('/assets/images/form/icon_registration-manager.svg') no-repeat center right;
      background-size: 16px 16px;
    }

    &.floating-input-registration-connexion {
      background: url('/assets/images/form/icon_registration-manager-locked.svg') no-repeat center right;
      background-size: 16px 16px;

      .light-mode & {
        background: url('/assets/images/form/icon_registration-manager-locked-lm.svg') no-repeat center right;
      }
    }

    &.floating-input-service {
      background: url('/assets/images/form/icon_filter-service.svg') no-repeat center right;
      background-size: 16px 16px;
    }

    &.floating-input:disabled {
      background: url('/assets/images/form/icon-padlock-locked.svg') no-repeat center right;
      background-size: 15px 16px;
    }

    &.floating-input-locked {
      background: url('/assets/images/form/icon_padlock-locked.svg') no-repeat center right;
      background-size: 16px 16px;

      .light-mode & {
        background: url('/assets/images/form/icon_padlock-locked-lm.svg') no-repeat center right;
      }
    }
  }

  .floating-input:focus,
  .floating-select:focus,
  textarea:focus {
    outline: none;
    border-bottom: 2px solid $color-text;
  }

  label {
    color: $color-text;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .floating-input:focus ~ label,
    .floating-input:not(:placeholder-shown) ~ label,
    //.floating-input:disabled ~ label,
    textarea:focus ~ label,
    textarea:not(:placeholder-shown) ~ label {
    top: -13.5px;
    font-size: 11px;
    color: $color-generic-dark;
  }

  .floating-select:focus ~ label,
  .floating-select:not([value='']):valid ~ label,
  textarea:focus ~ label,
  textarea:not([value='']):valid ~ label {
    top: -18px;
    font-size: 14px;
    color: $color-text;
  }

  input::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  /* active state */
  .floating-input:focus ~ .bar:before,
  .floating-input:focus ~ .bar:after,
  .floating-select:focus ~ .bar:before,
  .floating-select:focus ~ .bar:after {
    width: 50%;
  }

  /* disabled */
  .floating-input:disabled {
    &::placeholder {
      color: $color-text-white;
    }
  }

  .floating-input.title-evenement {
    &::placeholder {
      padding-left: 24rem;
    }
  }

  .floating-input.title-evenement {
    &:focus {
      &::placeholder {
        padding-left: 0;
      }
    }
  }

  .floating-input:disabled:placeholder-shown ~ label {
    top: -10px;
    font-size: 11px;
    color: $color-text;
  }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .floating-textarea {
    min-height: 30px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
  }

  /* highlighter */
  .highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  .floating-input:focus ~ .highlight,
  .floating-select:focus ~ .highlight,
  .textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
}

// End .floating-label

/* animation */
@-webkit-keyframes inputHighlighter {
  from {
    background: $color-text;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: $color-text;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: $color-text;
  }
  to {
    width: 0;
    background: transparent;
  }
}
